.module-sequencer {
  width: 90%;
  height: 60%;
  @media (min-width: 992px) { 
    width: 70%;
    height: 60%;
   }
  // background-color: darken(rgba(22, 28, 36, 1), 5%);
 .grid {
    width: 100%;
    height: 101%;
    padding-bottom: 1;
    position: relative;
    border-top: solid 1px rgba(70, 70, 70, 1);
    border-bottom: solid 3px rgba(0, 0, 0, 1);
    canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .track-canvas {
      z-index: 22;
    }
    .note-canvas {
      z-index: 23;
    }
    .playhead-canvas {
      z-index: 21;
    }
    .grid-canvas {
      z-index: 20;
      // border-left: solid 1px rgba(110, 110, 110, 1);
      border-right: solid 1px rgba(110, 110, 110, 1);
    }
  }
}