.module-controls {
  height: 7rem;
  &--blue-lighter {
    background-color: darken($secondary, 5%);
  }

  .btn {
    color: rgba(187, 189, 192, 1);
    &:hover,
    &.active {
      background-color: lighten($secondary, 15%) !important;
      border-color: lighten($secondary, 15%) !important; 
    }
  }

  .btn-round {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .transport-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .transport-position {
    font-size: 1.5rem;
    line-height: 1;
    width: 105px;
    p {
      width: 100%;
    }
  }

  .transport-play {
    position: relative;
    .icon-play {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);    
      width: 19px;
      height: 16px;
      display: inline-block;
      &:before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 14px solid $body-color;    
      }
    } 

    &:hover,
    &.active {
      background-color: $secondary;
      .icon-play {
        &:before {
          border-left-color: $white;
        }    
      }
    }   
  }

  .transport-stop {
    position: relative;
    .icon-stop {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      display: inline-block;
      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: $body-color;
      }
    }

    &:hover, 
    &.active {
      .icon-stop {
        &:before {
          background-color: $white;
        }    
      }
    }  
  }

  .transport-record {
    position: relative;
    .icon-record {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);    
      width: 16px;
      height: 16px;
      display: inline-block;
      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;    
        border-radius: 100%;
        background-color: $red;
      }
    }

    &:hover, 
    &.active {
      .icon-record {
        &:before {
          background-color: $red;
        }    
      }
    }    
  }

  .bars-select-wrapper {
    width: 90px;
    select.custom-select {
      background-color: transparent;
      border-color: rgba(255, 255, 255, .1);
      color: #fff;
    }
  }

  .tempo-controls { 
    text-align: center;
    input.tempo {
      text-align: center;
      width: 60px;
      background-color: transparent;
      border-color: rgba(255, 255, 255, .1);
      color: #fff;
    }
    .click {
      width: 50px;
    }
  }
}