@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import './scss/variables.scss';
@import './bower_components/bootstrap4/scss/bootstrap.scss';
@import './components/DrumPadList/drumpad-list.scss';
@import './components/Controls/controls.scss';

html, body, #root {
  height: 100%;
} 

.song-title {
  font-size: 1.5rem;
  font-weight: 600;
  width: auto;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: rgba(255, 255, 255, .1);
  &:focus {
    background-color: transparent;
    color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;    
    border-bottom-color: rgba(255, 255, 255, .2);
    box-shadow: none;  
  }
}

.main {
  flex-grow: 1;
}

.module-user {
  position: absolute;
  top: 0;
  right: 0;
  .user-list {
    list-style: none;
    &__item {
      margin-bottom: .5rem;
      &.current-user {
        color: #48dbfb;
      }
    }
  }  
}

