@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import './scss/variables.scss';
@import './bower_components/bootstrap4/scss/bootstrap.scss';
@import './components/DrumPadList/drumpad-list.scss';
@import './components/Controls/controls.scss';
@import './components/Sequencer/sequencer.scss';

html, body, #root {
  height: 100%;
} 

.song-title {
  font-size: 1.5rem;
  font-weight: 600;
  width: auto;
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: rgba(255, 255, 255, .1);
  &:focus {
    background-color: transparent;
    color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;    
    border-bottom-color: rgba(255, 255, 255, .2);
    box-shadow: none;  
  }
}

.main {
  flex-grow: 1;
  height: calc(100% - 260px);
  overflow: hidden;
  position: relative;
}

.drumpad-drawer {
  background-color: #161c24;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  z-index: 1000;
  padding: 48px 0;
  bottom: 0px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  transform: translate(0, 65%);
}

.module-user {
  position: absolute;
  top: 0;
  right: 0;
  .user-list {
    list-style: none;
    &__item {
      margin-bottom: .5rem;
      &.current-user {
        color: #48dbfb;
      }
    }
  }  
}

