@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import './scss/variables.scss';
@import './bower_components/bootstrap4/scss/bootstrap.scss';
@import './components/DrumPadList/drumpad-list.scss';
@import './components/Controls/controls.scss';

.App-intro {
  font-size: 1.5rem;
  font-weight: 600;
}

.user-list-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.module-user-list, .user-list {
  list-style: none;
  &__item {
    margin-bottom: .5rem;
    &.current-user {
      color: theme-color("success");
    }
  }
}

